@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/geist/v5/gyBhhwUxId8gMGYQMKR3pzfaWI_RwuMImpnc.woff) format('woff');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/geist/v5/gyBhhwUxId8gMGYQMKR3pzfaWI_RnOMImpnc.woff) format('woff');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/geist/v5/gyBhhwUxId8gMGYQMKR3pzfaWI_RruMImpnc.woff) format('woff');
}
